<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>
        BCDevExchange
    </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="img/BCDevExchange-favicon.ico">
    <!-- CSS here -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
    <!-- JS here -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  
    <!-- Matomo -->
<script type="text/javascript">
  var _paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//matomo-bcdevexchange.pathfinder.gov.bc.ca/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '1']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Matomo Code -->

</head>

<body>
    <!-- Digital Marketplace banner START -->
    <div class="digital-marketplace-banner">
        <div class="container text-center">
            <p>Were you looking for <span class="font-italic">Code With Us</span> and <span class="font-italic">Sprint With Us</span> Opportunities? They've moved to the <a href="https://bcdevexchange.org/" target="_blank">Digital Marketplace <i class="fa fa-arrow-right"></i></a></p>
        </div>
    </div>
    <!-- Digital Marketplace banner END -->


    <!-- Nav START -->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark" data-overlay data-sticky="top">
        <div class="container">
            <div class="logo">
                <a href="/">
                    <img src="~/img/logo.svg" alt="BC Dev Exchange">
                </a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsBtn"
                    aria-controls="navbarsBtn" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"><i class="fa fa-bars" aria-hidden="true"></i></span>
            </button>

            <div class="collapse navbar-collapse justify-content-end" id="navbarsBtn">
                <ul class="navbar-nav ml-auto">
                    <li class=@(Context.Request.Path == "/DevOpsPlatform" ? "active" : "")><a href="DevOpsPlatform">DevOps Platform</a></li>
                    <li class=@(Context.Request.Path == "/ExchangeLab" ? "active" : "")><a href="ExchangeLab">Exchange Lab</a></li>
                    <li class=@(Context.Request.Path == "/learning" ? "active" : "")><a href="/learning">Learning</a></li>
                    <li class=@(Context.Request.Path == "/AboutUs" ? "active" : "")><a href="AboutUs">About Us</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Nav END -->
    <div>
        @RenderBody()
    </div>

    <!-- footer start -->
    <footer class="footer dark_bg">
        <div class="container">
            <div class="row d-flex align-items-baseline">
                <div class="text-center col-md-4 text-md-left">
                    <img class="footer-logo" src="img/BCDevExchange-avatar.svg" alt="footer-logo">
                    <small>&copy; 2020 BCDevExchange.</small>
                </div>
                <div class="col-md-8">
                    <ul class="nav d-flex justify-content-center justify-content-md-end">
                        <li class="nav-item">
                            <a class="nav-link" href="DevOpsPlatform">DevOps Platform</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="ExchangeLab">Exchange Lab</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/learning">Learning</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="AboutUs">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://www.linkedin.com/company/bc-gov-csi-lab/" target="_blank"><i class="fa fa-linkedin"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://medium.com/exchange-bc" target="_blank"><i class="fa fa-medium"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            
            <div class="row pt-5">
                <div class="col text-center">
                    <img class="supported-logo" src="img/BCID_Supported_H_RGB_rev.png">
                </div>
            </div>
        </div>
    </footer>
    <!-- footer end -->
</body>

</html>
