<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>
        BCDevExchange
    </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="img/BCDevExchange-favicon.ico">
    <!-- CSS here -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
    <!-- JS here -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <div class="header-area ">
            <div class="header-top_area d-none d-lg-block">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-7 col-md-7 ">
                            <p class="top-content">Looking for Code With Us or Sprint With Us Opportunities? They've
                                moved to</p>
                        </div>
                        <div class="col-xl-5 col-md-5">
                            <a href="https://bcdevexchange.org/" class="topbar-btn">Digital Marketplace</a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="sticky-header" class="main-header-area">
                <nav class="navbar navbar-expand-md navbar-light main-menu" data-overlay data-sticky="top">
                    <div class="container">
                        <div class="logo">
                            <a href="/">
                                <img src="~/img/logo.svg" alt="BC Dev Exchange">
                            </a>
                        </div>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsBtn"
                                aria-controls="navbarsBtn" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"><i class="fa fa-bars" aria-hidden="true"></i></span>
                        </button>

                        <div class="collapse navbar-collapse justify-content-end" id="navbarsBtn">
                            <div class="">
                                <ul class="navbar-nav mr-auto">
                                    <li class=@(Context.Request.Path == "/DevOpsPlatform" ? "active" : "")><a href="DevOpsPlatform">DevOps Platform</a></li>
                                    <li class=@(Context.Request.Path == "/ExchangeLab" ? "active" : "")><a href="ExchangeLab">Exchange Lab</a></li>
                                    <li class=@(Context.Request.Path == "/learning" ? "active" : "")><a href="/learning">Learning</a></li>
                                    <li class=@(Context.Request.Path == "/AboutUs" ? "active" : "")><a href="AboutUs">About Us</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <!-- header end -->

    <div>
        @RenderBody()
    </div>

    <!-- footer start -->
    <footer class="footer dark_bg">
        <div class="container">
            <div class="row d-flex align-items-baseline">
                <div class="text-center col-md-4 text-md-left">
                    <img class="footer-logo" src="img/BCDevExchange-avatar.svg" alt="footer-logo">
                    <small>&copy; 2020 BCDevExchange.</small>
                </div>
                <div class="col-md-8">
                    <ul class="nav d-flex justify-content-center justify-content-md-end">
                        <li class="nav-item">
                            <a class="nav-link" href="DevOpsPlatform">DevOps Platform</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="ExchangeLab">Exchange Lab</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/learning">Learning</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="AboutUs">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://www.linkedin.com/company/bc-gov-csi-lab/" target="_blank"><i class="fa fa-linkedin"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://medium.com/exchange-bc" target="_blank"><i class="fa fa-medium"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            
            <div class="row pt-5">
                <div class="col text-center">
                    <img class="supported-logo" src="img/BCID_Supported_H_RGB_rev.png">
                </div>
            </div>
        </div>

    </footer>
    <!-- footer end -->
</body>

</html>
