<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/bootstrap-responsive.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/styles.css">
    <title>@ViewData["Title"] - bcdevexchange</title>
</head>
<body>
    <div class="viewport-screen">
        <div class="container dm-banner">
            <h5 class="dm-banner-text">Looking for Code With Us or Sprint With Us Opportunities? They’ve moved to <a href="https://bcdevexchange.org/" class="btn btn-default dm-banner-btn">Digital Marketplace</a></h5>
        </div>
        <nav class="navbar navbar-expand-sm">
            <!-- Links -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="~/Views/Home/Index.cshtml"><img class="bcdevx-logo" src="~/img/bcdevexchange-logo-whitetext.png" ALT="align box" /></a>
                </li>
            </ul>
            <ul class="nav-content">
                <li class="nav-item">
                    <a class="nav-link nav-content-link" href="~/Views/Home/AboutUs.cshtml">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-content-link" href="~/Views/Home/Learning.cshtml">Learning</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-content-link" href="~/Views/Home/ExchangeLab.cshtml">Exchange Lab</a>
                </li>
                <li class="nav-item ml-auto">
                    <a class="nav-link nav-content-link" href="~/Views/Home/DevOpsPlatform.cshtml">DevOps Platform</a>
                </li>
            </ul>
        </nav>
    </div>

    <div>
        @RenderBody()
    </div>

    <footer class="border-top footer text-muted">
        <div class="container copyright">
            &copy; 2019 BC DevExchange. All rights reserved.
        </div>
    </footer>
</body>
</html>
