<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>
        BCDevExchange
    </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">
    <!-- CSS here -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
    <!-- JS here -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class="header-area ">
            <div class="header-top_area d-none d-lg-block">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-7 col-md-7 ">
                            <p class="top-content">Looking for Code With Us or Sprint With Us Opportunities? They've moved to</p>
                        </div>
                        <div class="col-xl-5 col-md-5">
                            <a href="https://bcdevexchange.org/" class="topbar-btn">Digital Marketplace</a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="sticky-header" class="main-header-area">
                <div class="container">
                    <nav class="navbar navbar-expand-md navbar-light main-menu" data-overlay data-sticky="top">
                        <div class="container">
                            <div class="logo">
                                <a href="/">
                                    <img src="~/img/logo.png" alt="">
                                </a>
                            </div>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsBtn"
                                    aria-controls="navbarsBtn" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"><i class="fa fa-bars" aria-hidden="true"></i></span>
                            </button>

                            <div class="collapse navbar-collapse justify-content-end" id="navbarsBtn">
                                <div class="">
                                    <ul class="navbar-nav mr-auto">
                                        <li><a class="active" href="#">DevOps Platform</a></li>
                                        <li><a href="#">Exchange Lab</a></li>
                                        <li><a href="/learning">Learning</a></li>
                                        <li><a href="AboutUs">About Us</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- header end -->

    <div>
        @RenderBody()
    </div>

    <!-- footer start -->
    <footer class="footer dark_bg">
        <div class="footer_top">
            <div class="conteiner">
                <div class="row">
                    <div class="col-xl-4 col-md-4 col-lg-4">
                        <div class="footer_widget">
                            <div class="footer_logo">
                                <a href="#">
                                    <img class="footer-logo" src="img/footer_logo.png" alt="footer-logo">
                                </a>
                            </div>
                            <p>3rd Floor, 1012 <br>Douglas Street <br>Victoria BC <br> V8W 2C3</p>
                        </div>
                    </div>
                    <div class="col-xl-8 col-md-8 col-lg-8">
                        <div class="footer_widget_links">
                            <ul>
                                <li><a href="#">DevOps Platform</a></li>
                                <li><a href="#">Exchange Lab</a></li>
                                <li><a href="#">Trainings</a></li>
                                <li><a href="#">About Us</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="copy-right_text">
            <div class="conteiner">
                <div class="row">
                    <div class="col-xl-6 col-md-6">
                        <p class="copy_right text-left">&copy; 2020 BC DevExchange. All right reserved.</p>
                    </div>
                    <div class="col-xl-6 col-md-6">
                        <p class="privacy_link text-right"><span><a href="#">Privacy Policy</a></span> <span><a href="#">Terms of Service</a></span></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer end -->
</body>
</html>
