@{
    ViewData["Title"] = "About Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="about-us">
  
    <div class="about-us__title">
        <h4>Vision</h4>
        <h1>We help remove barriers and create capabilities to accelerate better service delivery.</h1>    
    </div>
       
    <div class="about-us__people">
        <h2>Our Team</h2>

        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>

        <div class="personel-card">
            <div class="personel-card__image">
                I'M A PICTURE
            </div>
            <div class="personel-card__text">
                <div class="personel-card__name">
                    Jon Awesome
                </div>
                 <div class="personel-card__role">
                    Lord of goats.
                </div>
                 <div class="personel-card__contacts">
                    <a href="www.twitter.com">TT</a>
                </div>
            </div>
        </div>
        
    </div>

    <div class="about-us__contact">
        <h2>Want to join our lovely team?</h2>
        <h3>We'd love to hear from you.</h3>
        <h4>
            Send us your resume at: <br>
            <a href = "mailto:ExchangeLab@gov.bc.ca">ExchangeLab@gov.bc.ca</a>
        </h4>
    </div>

      
</div>
