@{
    ViewData["Title"] = "About Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="about-us">
  
    <div class="about-us__title">
        <h4 class="about-us">Vision</h4>
        <h1 class="about-us" >We help remove barriers and create capabilities to accelerate better service delivery.</h1>    
    </div>
       
    <div class="about-us__people">
        <h2 class="about-us">Our Team</h2>
        @* <div class="card-deck-wrapper">
            <div class="card-deck">
                <div class="card">
                    <img src="img/exchange_people/theGentleman.png" class="card-img-top" alt="Test Person">
                    <div class="card-body">
                        <h5 class="card-title">Jon Awesome</h5>
                        <p class="card-subtitle">Lord Of Goats</p>
                    </div>        
                </div>
            
                <div class="card">
                    <img src="img/exchange_people/theGentleman.png" class="card-img-top" alt="Test Person">
                    <div class="card-body">
                        <h5 class="card-title">Jon Imposter</h5>
                        <p class="card-subtitle">Lord Of Goats</p>
                    </div>        
                </div>
            
                <div class="card" >
                    <img src="img/exchange_people/theGentleman.png" class="card-img-top" alt="Test Person">
                    <div class="card-body">
                        <h5 class="card-title">Jon Awesome 2</h5>
                        <p class="card-subtitle">Lord Of Goats</p>
                    </div>        
                </div>
            
                <div class="card" >
                    <img src="img/exchange_people/theGentleman.png" class="card-img-top" alt="Test Person">
                    <div class="card-body">
                        <h5 class="card-title">Jon Imposter 2</h5>
                        <p class="card-subtitle">Lord Of Goats</p>
                    </div>        
                </div>

                <div class="card" >
                    <img src="img/exchange_people/theGentleman.png" class="card-img-top" alt="Test Person">
                    <div class="card-body">
                        <h5 class="card-title">Jon Imposter 2</h5>
                        <p class="card-subtitle">Lord Of Goats</p>
                    </div>        
                </div>
            </div>    
        </div> *@
        <div class="card-deck-wrapper">
        <div class="card-deck">
		<div class="card my-3">
			
            <img src="img/exchange_people/theGentleman.png" class="card-img-top" alt="Test Person">
            <div class="card-body">
                <h5 class="card-title">Jon Awesome</h5>
                <p class="card-subtitle">Lord Of Goats</p>
            </div>   

		</div>
		<div class="card my-3">
			
            <img src="img/exchange_people/theGentleman.png" class="card-img-top" alt="Test Person">
            <div class="card-body">
                <h5 class="card-title">Jon Awesomest lord of go</h5>
                <p class="card-subtitle">Lord Of Goats fgreqgqerg</p>
            </div>   

		</div>
		<div class="card my-3">

            <img src="img/exchange_people/theGentleman.png" class="card-img-top" alt="Test Person">
            <div class="card-body">
                <h5 class="card-title">Jon Awesome</h5>
                <p class="card-subtitle">Lord Of Goats</p>
            </div>   

		</div>
		<div class="card my-3">
			
            <img src="img/exchange_people/theGentleman.png" class="card-img-top" alt="Test Person">
            <div class="card-body">
                <h5 class="card-title">Jon Awesome</h5>
                <p class="card-subtitle">Lord Of Goats</p>
            </div>   

		</div>
		<div class="card my-3">
		    
            <img src="img/exchange_people/theGentleman.png" class="card-img-top" alt="Test Person">
            <div class="card-body">
                <h5 class="card-title">Jon Awesome</h5>
                <p class="card-subtitle">Lord Of Goats</p>
            </div>

		</div>
		<div class="card my-3">
			
            <img src="img/exchange_people/theGentleman.png" class="card-img-top" alt="Test Person">
            <div class="card-body">
                <h5 class="card-title">Jon Awesome</h5>
                <p class="card-subtitle">Lord Of Goats</p>
            </div>   

		</div>
		<div class="card my-3">
			
            <img src="img/exchange_people/theGentleman.png" class="card-img-top" alt="Test Person">
            <div class="card-body">
                <h5 class="card-title">Jon Awesome</h5>
                <p class="card-subtitle">Lord Of Goats</p>
            </div>   

		</div>
		<div class="card my-3">
			
            <img src="img/exchange_people/theGentleman.png" class="card-img-top" alt="Test Person">
            <div class="card-body">
                <h5 class="card-title">Jon Awesome</h5>
                <p class="card-subtitle">Lord Of Goats</p>
            </div>        
                    
		</div>
	</div>
    </div>
        @* <div class="card-deck-wrapper">
            <div class="card-deck">
                <div class="card-columns">
                    <div class="card">
                        <img src="img/exchange_people/theGentleman.png" class="card-img-top" alt="Test Person">
                        <div class="card-body">
                            <h5 class="card-title">Jon Awesome</h5>
                            <p class="card-subtitle">Lord Of Goats</p>
                        </div>        
                    </div>
                
                    <div class="card">
                        <img src="img/exchange_people/theGentleman.png" class="card-img-top" alt="Test Person">
                        <div class="card-body">
                            <h5 class="card-title">Jon Imposter</h5>
                            <p class="card-subtitle">Lord Of Goats</p>
                        </div>        
                    </div>
                
                    <div class="card" >
                        <img src="img/exchange_people/theGentleman.png" class="card-img-top" alt="Test Person">
                        <div class="card-body">
                            <h5 class="card-title">Jon Awesome 2</h5>
                            <p class="card-subtitle">Lord Of Goats</p>
                        </div>        
                    </div>
                
                    <div class="card" >
                        <img src="img/exchange_people/theGentleman.png" class="card-img-top" alt="Test Person">
                        <div class="card-body">
                            <h5 class="card-title">Jon Imposter 2</h5>
                            <p class="card-subtitle">Lord Of Goats</p>
                        </div>        
                    </div>

                    <div class="card" >
                        <img src="img/exchange_people/theGentleman.png" class="card-img-top" alt="Test Person">
                        <div class="card-body">
                            <h5 class="card-title">Jon Imposter 2</h5>
                            <p class="card-subtitle">Lord Of Goats</p>
                        </div>        
                    </div>
                </div>    
            </div>
        </div> *@
    </div>  

    <div class="about-us__contact">
        <h2 class="about-us">Want to join our lovely team?</h2>
        <h3 class="about-us">We'd love to hear from you.</h3>
        <h4 class="about-us">
            Send us your resume at: <br>
            <a href = "mailto:ExchangeLab@gov.bc.ca">ExchangeLab@gov.bc.ca</a>
        </h4>
    </div>

      
</div>
