/*Body-Base Layout*/
body {
    background-color: black;
    max-width: none;
    width: 100%;
    height: 100%;
    align-items:center;
    justify-content:center;
    margin:0;
}
.viewport-screen {
    max-width: none;
    width: 100%;
}
/*Banner*/
.dm-banner {
    background-color: blue;
    height: 60px;
    color: white;
    left:0;
    right:0;
    position:relative;
    max-width:100%;
}
.dm-banner h5 {
    padding: 0.5em;
    text-align: center;
    font-size: 18px;
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}
.dm-banner-btn {
    background-color: #FFFFFF;
    width: 200px;
    height: 40px;
    text-align: center;
    color: #0065F2;
}
.dm-banner-btn:hover {
    color: #0065F2;
}
/*Navbar*/
.navbar {
    background-color: #181818;
    height: 60px;
    width:auto;
    max-width:100%;
    position:relative;
    position: center;
    left: 0;
    right: 0;
    overflow:hidden;
}
.bcdevx-logo {
    background-color: #181818;
    width: 140px;
    height: 36px;
    float: left;
}
.nav-item {
    float: right;
    background-color: #181818;
}
.nav-item a {
    float: right;
    color: white;
    background-color: #181818;
}
.nav-content-link {
    height: 24px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    /*opacity: 0.5;*/
    letter-spacing: 0.1px;
    text-align:center;
}
.nav-content-link:hover {
    text-decoration:underline;                                                                                                                          
}
/*(Hero image) First Part*/
.home-image {
    background-image: url("/img/bcdevx-home-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 700px;
    text-align: center;
    position: relative;
    color: #FFFFFF;
    filter:brightness(85%);
    width: 100%;
    max-width:none;
}
.home-tagline {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align:center;
    margin-top:25px;
}
.home-tagline-text {
    height: 60px;
    width: 1110px;
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 56px;
    font-weight: bold;
    letter-spacing: -1px;
    text-align: center;
}
.home-tagline-subtext {
    height: 48px;
    width: 720px;
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
    margin-left: 190px;
}
/*Second Part*/
.grid-cont2 {
    background-color: #2D2D2D;
    height: 700px;
    width: 100%;
    max-width: none;
    margin-top:0px;
}
.col21 {
    height: 444px;
    width: 635px;
    margin: 128px 640px 128px 165px;
    position: absolute;
    padding: 5px;
    color: #FFFFFF;
    float: left;
}
.col22-img {
    float:right;
    text-align:right;
    height: 550px;
    width: 570px;
    background-color: #000000;
    margin: 75px 165px 75px 165px;
}
.col22 {
    height: 700px;
    width: 50%;
    text-align:right;
    float:right;
}
.col-subtext-grid2 {
    margin-top: 0px;
    height: 50px;
    width: 445px;
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
}
/*third part*/
.grid-cont3 {
    background-color: #181818;
    height: 700px;
    width: 100%;
    max-width: none;
    margin-top: 0px;
}
.col31-img {
    float: left;
    text-align: left;
    height: 550px;
    width: 570px;
    margin:75px 720px 75px 165px;
}
/*Fifth part*/
.grid-cont5 {
    background-color: #181818;
    height: 700px;
    width: 100%;
    max-width: none;
}
.row5 {
padding-top:80px;
padding-left:100px;
}
.col51 {
padding-left:40px;
}
.col-bold-text {
    font-size: 40px;
    font-weight: bold;
    letter-spacing: -0.5px;
    color: #FFFFFF;
    font-family:Arial, Helvetica, sans-serif;
}
.col-subtext {
    margin-top:20px;
    height: 50px;
    width: 445px;
    color: #FFFFFF;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
}
.community-btn {
    height: 48px;
    width: 160px;
    background-color: #0065F2;
    color:white;
    margin-top:20px;
}
.col52 {
    padding-right:120px;
    padding-left:70px;
}
.under-text {
    height: 30px;
    width: 190px;
    color: #FFFFFF;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 10px;
    line-height: 14px;
    margin-top:10px;
}
.small-text {
    height: 36px;
    width: 310px;
    color: #FFFFFF;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 18px;
}
.email {
    height: 20px;
    width: 190px;
    color: #0065F2;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}
/*Footer*/
.footer {
    border-color:black;
    text-align:center;
    margin-bottom: 20px;
}