/* line 1, ../../Arafath/CL/CL October/213. Business/HTML/scss/_extend.scss */

html {
  scroll-behavior: smooth;
}

.flex-center-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
}

/* Normal desktop :1200px. */
/* Normal desktop :992px. */
/* Tablet desktop :768px. */
/* small mobile :320px. */
/* Large Mobile :480px. */

body {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: normal;
  font-style: normal;
  overflow-x: hidden;
  color: #fff;
}

img {
  max-width: 100%;
  width: 100%;
  height: auto;
}

a, .button {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

a {
  color: #0065F2;
}

a:focus,
.button:focus, button:focus {
  text-decoration: none;
  outline: none;
}

a:focus {
  text-decoration: none;
}

/* line 29, ../../Arafath/CL/CL October/213. Business/HTML/scss/theme-default.scss */
a:focus,
a:hover {
  color: #0065F2;
  text-decoration: none;
}

a.icon, a.icon:hover, a.icon:focus {
  color: #fff;
}

h1, h2, h3, h4, h5 {
  font-family: "Helvetica Neue", sans-serif;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}

ul {
  margin: 0px;
  padding: 0px;
}

li {
  list-style: none;
}

p {
  font-weight: 300;
  color: inherit;
}

small {
  font-size: 85%;
  font-weight: 300 !important;
  opacity: 0.4;
}

.address {
  font-weight: 300;
  letter-spacing: 0.1px;
}

*::-moz-selection {
  background: #444;
  color: #fff;
  text-shadow: none;
}

::-moz-selection {
  background: #444;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #444;
  color: #fff;
  text-shadow: none;
}


h3 {
  font-size: 24px;
}

.mb-65 {
  margin-bottom: 67px;
}

.black-bg {
  background: #020c26 !important;
}

.white-bg {
  background: #ffffff;
}

.gray-bg {
  background: #f5f5f5;
}

.home-container {
  width: 80%;
  margin: 0 auto;
}


/* Digital Marketplace banner
=============================*/
.digital-marketplace-banner {
  background: #0065f2;
  padding: 10px 0;
}

.digital-marketplace-banner p {
  color: #fff;
  font-size: 0.85rem;
  font-weight: 400;
  margin: 0;
}

.digital-marketplace-banner a {
  color: #fff;
  font-weight: bold;
  text-decoration: underline;
  white-space: nowrap;
}

  


.top-content {
  color: #ffffff;
  margin-bottom: 0px;
  line-height: unset;
}
.topbar-btn {
  background: #fff;
  color: #0065f2;
  font-weight: 500;
  padding: 8px 10px;
}

/*---- Begin Hero styling (replacing banner styles) -----*/
.hero {
  height: 80vh;
  display: flex;
  align-items: flex-end;
}
.home-hero {
  background: url(../img/home_img/home-hero.jpg);
  background-size: cover;
  background-position: center;
}
.about-us-hero {
  background: url(../img/about/about-us-hero.jpg);
  background-size: cover;
  background-position: center;
}
.devops-hero {
  background: url(../img/dev_ops_platform_photos/devops_hero.jpeg);
  background-size: cover;
  background-position: center;
}
.learning-hero {
  background: url(../img/learning/learning-hero.jpg);
  background-size: cover;
  background-position: center;
}
.exchange-lab-hero {
  background: url(../img/exchange_lab_photos/exchange-lab-hero.jpg);
  background-size: cover;
  background-position: center;
}
.lab-tour-teaser {
  background: url(../img/exchange_lab_photos/tour.jpg);
  background-size: cover;
  background-position: center;
  min-height: 250px;
}
.hero-text {  
  padding: 0.5em;
  line-height: 1.2em;
  font-weight: 500;
  letter-spacing: -0.75px;
}
@media (max-width: 575px) {
  .hero-text {
    font-size: 1.8em;
  }
}
@media (min-width: 576px) {
  .hero-text {
    font-size: 1.8em;
  }
}
@media (min-width: 992px) {
  .hero-text {
    font-size: 2.2em;
  }
} 
/*-- End Hero styling --*/

.banner_area {
  background: url(../img/home_img/banner-min.jpg);
  min-height: 85vh;
  background-size: cover;
  background-position: top center;
  position: relative;
}

.banner_area .col-xl-12, .banner_area_dev-ops .col-xl-12{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.banner_text h1 {
  font-size: 3em;
  color: #fff;
  font-weight: 600;
  margin-bottom: 0.5em;
}
.banner_text p {
  color: #fff;
  font-size: 20px;
}
.section_main {
  padding: 80px 0;
}
.light_bg {
  background: #2d2d2d;
}
.dark_bg {
  background: #181818;
}
.bg-overlay {
  background: rgba(0, 0, 0, 0.6);
}
.heading2 {
  color: #fff;
  font-size: 2.4em;
}
.para1 {
  color: #fff;
}
.number {
  font-size: 4em;
  font-weight: 600;
}
.blue_btn {
  background: #0065f2;
  color: #fff;
  font-size: 1.25rem;
  border: none;
  padding: 10px 25px;
  display: inline-block;
}
.blue_btn:hover {
  text-decoration: none;
  color: #fff;
}
.blue_btn:focus {
  outline: none;
}
.small_text {
  display: block;
  margin: 1em 0;
  font-size: 0.85em;
}
.medium_text {
  color: #fff;
  font-size: 14px;
  display: block;
}
.link {
  color: #0065f2;
  margin-top: 10px;
  display: inline-block;
}
.icons span i {
  color: #fff;
  font-size: 24px;
}
.footer_widget_links ul li {
  display: inline-block;
  padding: 5px 12px;
}
.footer_widget_links ul li a {
  color: #fff;
}
.footer_widget_links ul {
  text-align: left;
  padding-left: 1em;
}
.social-footer {
  text-align: center;
  font-size: 2em;
  margin: 20px auto;
  margin-bottom: 1.5em;
}
.social-footer a span i {
  color: #fff;
  padding: 10px;
}
.footer_widget p {
  color: #fff;
  margin-top: 10px;
}
.copy_right.text-left {
  color: #868686;
}
.privacy_link a {
  color: #868686;
  padding: 15px;
}
.footer-logo {
  width: 40px;
}
.supported-logo {
  width: 80%;
  max-width: 265px;
}
.inner2 {
  margin-left: 90px !important;
  width: 100% !important;
  z-index: 999;
  position: relative;
}
.inner3 {
  margin-left: 90px !important;
  width: 80% !important;
  z-index: 999;
  position: relative;
}

/*------------------- Icons -------------------*/

.icon {
  height: 65px;
}
.footer-icon {
  font-size: 1.3rem;
}

/*------------------- Exchange Lab Page -------------------*/

.exchange_lab_col {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  padding-right: 25%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.exchange_lab_banner_text {
  background: rgba(13,13,13,0.7);
  color: white;
  text-align: left;
  vertical-align: middle;
  padding-left: 10rem;
  /* margin-left: 0; */
}

.exchange-lab-content-container {
  background-color: #181818;
  padding-left: 10rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.exchange-lab-content-container h3 {
  font-size: 18px;
}


.exchange-lab-content-container-bg h3 {
  font-size: 18px;
}



.exchange-lab-content-container-bg {
  background-color: #2d2d2d;
  padding-left: 10rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.exchange-lab-content-container h1{
  color: white;
}

.exchange-lab-content-container-bg a {
  color: #0065f2;
}

.exchange-lab-content-container a {
  color: #0065f2;
}

.exchange-lab {
  color: white;
}
.exchange_lab_banner_text h1 {
  color: white;
}

.exchange_lab_banner_text p {
  color: white;
}

.right-picture-container {
  margin-top: 5rem;
  margin-left: 0;
}

.left-picture-container {
  margin-top: 5rem;
  margin-left: 0;
}


@media screen and (max-width: 600px) {
  .exchange-lab-content-container-bg{
    padding-left: 2rem;
  }
  .exchange-lab-content-container{
    padding-left: 2rem;
  }
  .exchange_lab_banner_text{
    padding-left: 2rem;
  } 

}

/*------------------- Start Timeline style -------------------*/

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.yellow-gradient {
  background-image: linear-gradient(to bottom, #fdb917, #feefcd);
}

.timeline-wrapper {
  border-top: 4px dotted;
  display: block;
  overflow-x: scroll;
  white-space: nowrap;
}


.timeline-column {
  padding: 0 50px;     
  display: inline-block;
  width: 320px;
  height: auto;
  white-space: initial;
  vertical-align: top;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 20px;
  bottom: -20px;
  left: 50%;
  margin-left: 3px;
}

/* Container around content */
.timeline-container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.timeline-container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid white;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -6px;
}

/* The timeline content */
div.timeline-content p, 
div.timeline-content h2, 
div.timeline-content li{
  padding: 20px 30px;
  color:white;
  position: relative;
  border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
/* Place the timelime to the left */
  .timeline::after {
    left: 22px;
  }

/* Full-width containers */
  .timeline-container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

/* Make sure that all arrows are pointing leftwards */
  .timeline-container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

/* Make sure all circles are at the same spot */
  .left::after, .right::after {
    left: 15px;
  }

/* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}
/*------------------- End Timeline Styling -------------------*/





/*------------------- Start Card styles -------------------*/
.card {
  background-color: transparent;
  border: none;
}
.card-img-top {
  border-radius: 0;
}

.card-staff .card-body {
  padding: 1.25rem 0;
}

.card-staff a.icon {
  color: #fff;
  height: auto;
  line-height: 1.2 !important; /* Matches p.card-subtitle */
  padding-left: 10px;
}

.card-deck-wrapper {
    text-align: center;
    max-width: 60rem;
    margin:0 auto;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 3rem;
    padding-top: 2rem;
}
h5.card-title {
    text-align: left;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.1px;
    margin-bottom: 0.5rem;
}
p.card-subtitle {
    text-align: left;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.2;
    letter-spacing: 0.1px; 
} 
/* Responsive styling for the deck */
@media (min-width: 0) {
  .card-deck .card {
    flex: 0 0 calc(100% - 30px);
  }
}
@media (min-width: 576px) {
  .card-deck .card {
    flex: 0 0 calc(50% - 30px);
  }
}
@media (min-width: 768px) {
  .card-deck .card {
    flex: 0 0 calc(33.3333333333% - 30px);
  }
}
@media (min-width: 992px) {
  .card-deck .card {
    flex: 0 0 calc(25% - 30px);
  }
}
@media (min-width: 1200px) {
  .card-deck .card {
    flex: 0 0 calc(25% - 30px);
  }
}
/*------------------- Course Card styles -------------------*/
.card-course {
  background: #181818;
  border-radius: 0; 
  height: 100%;
}

.card-course h5.card-title {
  font-size: 1.3rem;
  margin-bottom: 1.5rem;
}
.card-course p.card-subtitle {
  font-size: 1rem;
  line-height: 1.3;
}

.card-course .card-footer {
  border: none;
  background-color: none;
}
/*------------------- End Card styles -------------------*/


/*------------------- Learning Page CSS -------------------*/
.banner_training {
    background: url(../img/home_img/Learning.jpg);
    min-height: 85vh;
    background-size: cover;
    background-position: top center;
    position: relative;
    height: 85vh;
}
.banner_training .container {
  width: 100%;
  max-width: 100% !important;
  height: 100%;
}
.banner_text_training, .banner_training .container .row {
  height: 100%;
}
.banner_training .container .col-xl-12 {
  padding: 20% 0;
}
.banner_text_training h1 {
  display: inline-block;
  background: #00000061;
  color: #fff;
  padding: 0.5em 1.5em;
  font-size: 3em;
  position: absolute;
  left: 0;
  height: auto;
  top: 50%;
  transform: translateY(-50%);
}
.course-wrap {
  background: #181818;
  margin-bottom: 2em;
  min-height: 510px;
}
.course-content {
  padding: 1em;
}
.course-content h4 {
  color: #fff;
  font-weight: 600;
}
.course-content p {
   color: #fff;
   margin-top: 20px;
   font-size: 15px;
   min-height: 85px;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
}
.view-details {
  color: #0065f2;
  position: relative;
  top: 15px;
}
.heading4 {
  color: #fff;
  font-size: 22px;
}

.outer {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.inner {
  margin-left: 15px;
  width: 400px;
}
.team {
  background: #181818;
}
.team-info {
  padding: 1em;
  position: relative;
}
.mail {
  position: absolute;
  right: 10px;
  bottom: 34px;
}
.mail a i {
  color: #fff;
}
.team-info h4, .team-info p {
  color: #fff;
}
.footer {
  padding: 2rem 0;
}


/* Navbar overrides
===============================*/
.navbar-toggler {
  border: none;
}

.navbar-toggler-icon i {
  color: #fff;
  font-size: 28px;
}

.navbar-nav li {
  margin: 0px 8px;
  padding: 7px;
}

.navbar-nav li a {
  color: #fff;
  opacity: 0.5;
}

.navbar-nav li.active {
  border-bottom: 3px solid;
}

@media (max-width: 767px) {
  .navbar-nav li {
    margin: 0 -16px; /* Negative margin makes background on active list item stretch to edge of display */
    padding: 7px 27px;
  }
  .navbar-nav li.active {
    border-bottom: none;
    background-color: #333;
  }
}

.navbar-nav li.active a {
  color: #fff;
  opacity: 1;
}

/* These ones are used in the footer */
.nav-link, .nav-link:active, .nav-link:hover {
    color: #fff;
    opacity: 0.5;
    font-size: 0.85rem;
}



/*------------ Media Queries -------------*/
@media only screen and (min-width: 1560px) {
    .home-container {
    width: 70%;
  }
  .course-wrap {
    min-height: 560px;
  }
  .course-content p {
    min-height: 65px;
  }
}

@media only screen and (max-width: 1559px) {
  .inner2 {
    margin-left: 35px !important;
  }
  .landing .heading2 {
    color: #fff;
    font-size: 2em !important;
  }
  .inner2 {
    margin-left: 70px !important;
    width: 100% !important;
  }
  .footer_widget_links ul {
    text-align: left;
    padding-left: 2em;
  }
}

@media only screen and (max-width: 1200px) {
  .banner_training, .banner_area_dev-ops, .banner_area {
    min-height: 50vh;
    height: 50vh;
  }
  .top-content {
    font-size: 14px;
  }
  .course-content p {
    min-height: 112px;
  }
  .team-info h4 {
    font-size: 16px
  }
  .team-info h4, .team-info p {
    font-size: 12px
  }
  .landing .heading2 {
    font-size: 1.6em !important;
  }
  .inner2 {
    margin-left: 0px !important;
    width: 100% !important;
  }
  .number {
    font-size: 3em;
  }
}

@media only screen and (max-width: 1080px) {
  .banner_training {
    min-height: 50vh;
    height: 50vh;
  }
  .top-content {
    font-size: 14px;
  }
  .course-wrap {
    min-height: 470px;
  }
  .course-content p {
    min-height: 112px;
  }
  .team-info h4 {
    font-size: 14px
  }
  .team-info p {
    font-size: 12px
  }
}

.logo img {
  width: 210px;
}

@media only screen and (max-width: 1024px) {
  .logo img {
    width: 180px;
  }
  .inner {
    width: 350px;
  } 
}

@media only screen and (max-width: 992px) {
  .tab-100 {
    max-width: 100%;
    flex: 0 0 100%;
  }
  .team-wrap {
    margin-top: 3em;
  }
  .team-info h4 {
    font-size: 20px
  }
  .team-info p {
    font-size: 14px
  }
  .copy_right, .privacy_link {
    font-size: 13px;
  }
  .banner_text h1 {
    font-size: 2em;
  }
  .banner_text p {
    font-size: 18px;
  }
  .set-height {
    min-height: 52vh;
  }
  .inner3 {
    margin-left: 20px !important;
    width: 100% !important;
  }
  .container {
    max-width: 100%;
  }
}
  
@media only screen and (max-width: 768px) {
  .course-content p {
    min-height: 140px;
  }
  .course-wrap {
    min-height: 440px;
  }
  .inner {
    width: 310px;
  }
}

@media only screen and (max-width: 767px) {
  .banner_text_training h1 {
    padding: 0.5em 0.5em;
    font-size: 2em;
  }
  .section_main {
    padding: 60px 0;
  }
  .inner {
    width: 100%;
    margin-left: 0px;
  }
  .outer {
    display: block;
    position: relative;
  }
  .mob-mar-bot, .team {
    margin-bottom: 2em;
  }
  .footer_widget_links ul {
    padding-left: 0;
  }
  .footer_widget_links ul li {
    display: block;
    padding: 5px 12px;
    text-align: center;
  }
  .footer_widget {
    text-align: center;
  }
  .reg {
    margin-top: -1em;
  }
  .copy_right, .text-right {
    text-align: center !important;
  }
  .inner2 {
    margin-bottom: 4em;
  }
  .inner3 {
    margin-left: 0 !important;
    margin-top: 4em;
  }
  .banner_training, .banner_area_dev-ops, .banner_area {
    min-height: 80vh;
    height: 80vh;
  }
  .banner_training {
    min-height: 70vh;
    height: 70vh;
  }
  .mob-space-top {
    margin-top: 4em;
  }
}

/*-- Begin Teaser styling --*/
.teaser-img-left, .teaser-img-right {
  padding: 80px 0;
  min-height: 80vh;
}

.teaser-name {
  letter-spacing: 5px;
  text-transform: uppercase;
  font-weight: 300;
  margin: 0 0 5rem;
  text-align: center;
  opacity: 0.6;
}
.teaser > title {
  display: block;
  font-size: 1.5rem;
  line-height: 1.2em;
  font-weight: 600;
  letter-spacing: -0.75px;
  margin: 0.5em 0;
}
.teaser > subtitle {
  display: block;
  font-size: 1.05rem;
  line-height: 1.4em;
  font-weight: 300;
  letter-spacing: -0.25px;
  margin: 1em 0;
  opacity: 0.8;
}
.teaser > stat {
  display: block;
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 1;
  margin: 0.7em 0 0;
  opacity: 0.5;
}
.teaser > stat-description {
  display: block;
  font-size: 0.9rem;
  font-weight: 300;
  line-height: 1.3em;
  margin: 0 0 1em;
  padding-left: 12px;
  opacity: 0.5;
}
.teaser > a {
  margin-top: 2em;
}
/*-- End Teaser styling --*/

/*-------Error Page-------*/
.error-container {
    height: 100vh;
    background-color: black;
}
.notfound {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
}
.notfound h2, h1 {
    color: white;
}
/*------End Error Page------*/
