body {
    margin: auto;
    padding: 0;
    font-size: 15px;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    max-width: 1300px;
}
/* About Us */

.about-us {
    color: #FFFFFF;
}

.about-us__title {
    text-align: center;
    max-width: 45em;
}

.about-us__people {
    text-align: center;
}

/* Navigation */
nav {
    float: right;
    margin: 0;
    overflow: hidden;
    text-align: center;
}

nav ul {
    margin-top: 0px;
    margin-left: 780px;
    margin-bottom: 20px;
    padding: 0;
}

nav ul li {
            display: inline-block;
            list-style-type: none;
}

    nav > ul > li > a {
        color: #FFFFFF;
        display: block;
        line-height: 2em;
        padding: 1.2em 2em;
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
    }
.logo-img {
    float: left;
    position: relative;
    margin: 10px 15px ;
    width : 200px;
    height: 50px;
}

.bg-div {
    background-color: black;
    overflow: hidden;
}

/*#video-block {
    width: 100%;
    height: 500px;
}
#vid {
 width: 100%;
 height: 500px;
}*/

.view {
    background-image: url("/img/homepageimg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;  
    height: 500px;
    margin-bottom: 5px;
}
#intro {
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    font-weight: bold;
    padding-top: 160px;
}
#knowmore {
    color: #0065F2;
}
.key-value {
margin-top: 110px;
}
.key-value-head {
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 20px;
    margin-bottom: 100px;    
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    font-weight: bold;
    align-content: center;
    font-size:40px;
}
.val-icon {
height:35px;
width:35px;
}
.value{
    font-size:18px;
    margin-top:100px;
}
.key-col {
    padding-left: 20px;
    color: #FFFFFF;
    font-size: 16px;
}
#para-value {
margin-top: 20px;

}
.figure {
margin-top: 200px;
width: 1300px;
}
.figure-col {
text-align:center;
}
.figure-col h4 {
    margin-bottom:20px;
}
.testimonial {
    margin-top: 200px;
    color: #FFFFFF;
}
.test-deck{
    height: 300px;
    margin-bottom: 100px;
    margin-top:100px;
}
.testimonial h2 {
 margin-bottom:70px;
}
.test-card {
    background-color: black;
    color: #FFFFFF;
    border-color: white;
}
.card-img {
border-radius: 50%;

}
.copyright {
    text-align: center;
}
