@{
  ViewData["Title"] = "DevOpsPlatform";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

  <!-- hero start -->
  <div class="hero devops-hero">
      <div class="container">
          <div class="row">
              <div class="col-md-10 col-lg-8">
                  <div class="hero-text bg-overlay pb-5">We enable B.C. government digital delivery teams to fully control the deployment of their applications.</div>
              </div>
          </div>
      </div>
  </div>
  <!-- hero end -->
  
  <!-- OpenShift teaser start -->

  <div class="section_main bg-light text-body">
    <div class="container">
      @await Component.InvokeAsync("TextWithSideImage", new { 
        TextOnLeft=true,
        Title="OpenShift Container Platform",
        SubTitle="On premise within the Kamloops Data Center, the B.C. government has a deployment of OpenShift, a hybrid cloud enterprise Kubernetes platform. NEWLINE The platform enables developers to develop and deploy applications quickly, securely, and at scale. NEWLINE We provide access and support for using the platform.",
        ImageFilePath="home/devops-platform-teaser.jpg",
        ButtonUrl="https://developer.gov.bc.ca/What-Is-OpenShift"
      })
    </div>
  </div>

  <!-- OpenShift teaser end -->

  <!-- Who can join? section start-->
  <div class="section_main dark_bg">
    <div class="container">
      
      <div class="row">
        <div class="col text-center">
            <div class="teaser">
              <title>Who can use the platform?</title>
              <subtitle>We host B.C. government projects that meet the following criteria:</subtitle>
            </div>
        </div>
      </div>
        
      <div class="row py-5">
          
        <div class="col-md-6 p-5 d-flex">
          <div>
            <img class="icon" src="img/icons/executive.svg">
          </div>
          <div class="pl-4">
            <h3>Executive Sponsorship</h3>
            <p>Your executive understands what is required to support continuous service improvement and is committed to resourcing your project so that it can be continuously maintained and improved even after it's been built.</p>
          </div>
        </div>

        <div class="col-md-6 p-5 d-flex">
          <div>
            <img class="icon" src="img/icons/open-source.svg">
          </div>
          <div class="pl-4">
            <h3>Open Source</h3>
            <p>Your project is based on open source code, with custom code hosted in BCGov GitHub organization repositories.</p>
          </div>
        </div>
        
        <div class="col-md-6 p-5 d-flex">
          <div>
            <img class="icon" src="img/icons/team.svg">
          </div>
          <div class="pl-4">
            <h3>Dedicated Agile Teams</h3>
            <p>Your project will be supported by a team that follows an agile methodology, with explicit roles such as DevOps specialist, Scrum Master and Product Owner — ideally with one or more of these roles filled by dedicated staff.</p>
          </div>
        </div>

        <div class="col-md-6 p-5 d-flex">
          <div>
            <img class="icon" src="img/icons/collaboration.svg">
          </div>
          <div class="pl-4">
            <h3>Collaboration</h3>
            <p>Your team is committed to participate in and contribute to the B.C. government's open development community.</p>
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col col-md-6 m-auto text-center">
            <div class="teaser">

              <title>How do we get access to the platform?</title>

              <subtitle>If you meet the criteria above, we’d love to hear from you! It all starts with a project provisioning request.</subtitle>
              <a href="https://github.com/BCDevOps/devops-requests" class="blue_btn" target="_blank">Request Access <i class="fa fa-external-link"></i></a>
            </div>
        </div>
      </div>

    </div>
  </div>
  <!-- Who can join? section end -->
  
  <!-- DevHub teaser start-->
  <div class="section_main light_bg">
    <div class="container">
      <div class="row">
        <div class="col-md mr-md-5 mb-5 mb-md-0 align-self-center">
          <div class="teaser">
            <title>Tools for Developers</title>
            <subtitle>We created the DevHub to bring together common resources needed by developers to build B.C. government applications.</subtitle>
            <a href="https://developer.gov.bc.ca/?intention=LOGIN#error=login_required" class="blue_btn" target="_blank">Visit the DevHub <i class="fa fa-external-link"></i></a>
          </div>
        </div>
        <div class="col-md">
          <a href="https://developer.gov.bc.ca/?intention=LOGIN#error=login_required" target="_blank">
            <img src="img/devops-platform/join-the-platform.jpg" alt="Two software developers crouching over a computer">
          </a>
        </div>
      </i>
    </div>
  </div>
  <!-- DevHub teaser end -->



