@{
  ViewData["Title"] = "DevOpsPlatform";
  Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="landing">
  <!-- header-banner start -->
  <div class="banner_area_dev-ops">
    <div class="banner_inner">
      <div class="single_banner">
        <div class="container">
          <div class="row">
            <div class="col-xl-12">
              <div class="banner_text ">
                <h1> Enabling BC Government digital delivery teams to fully control 
                  the development and deployment of their applications. </h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- header-banner end -->
  <!-- section2 start -->
<!-- DevOps Platform teaser start / "teaser-img-right" -->
    <div class="teaser-img-right dark_bg">
        <div class="container">
            <div class="row">
                <div class="col-md mr-md-5 mb-5 mb-md-0 align-self-center">
                    <div class="teaser middle">
                      <h2 class="heading2">OpenShift Container Platform?</h2>
                      <p class="para1">On premise, within the Kamloops Data Center, the BC Government has a deployment of OpenShift, a hybrid cloud enterprise Kubernetes platform that equips development teams with full control to develop and deliver applications quickly, securely, and at scale.</p>
                      <p class="para1">We provide access and support for using the platform.</p>
                      <a href="#" class="blue_btn">Learn More</a>
                    </div>
                </div>
                <div class="col-md">
                  <img class="sec_image" src="img/dev_ops_platform_photos/openshift.png" alt="image">
                </div>
            </div>
            </div>
        </div>
    </div>
  <!-- section2 end -->




  <!-- section3 start Who can join-->
  <div class="teaser-img-right light_bg">
        <div class="container">
            <div class="row">
                <div class="col-md mr-md-5 mb-5 mb-md-0 align-self-center">
                    <div class="teaser">
                      <h2 class="heading2">Who can join?</h2>
                      <p class="para1">We host BC Government projects on the 
                      platform that meet the following criteria:</p>
                    </div>
                </div>
                <div class="col-md">
                  <div class="row">
                <div class="col-6">
                  <img class="icon" src="img/Icons/Executive.svg"> <span class="join_lab_title">Ececutive Sponsorship</span>
                  <p class="join_the_lab_text">There is strong executive support for the project and the continuous service improvement delivery model.</p>
                </div>
                <div class="col-6">
                  <img class="icon" src="img/Icons/OpenSource.svg"><span class="join_lab_title">Open Source</span>
                  <p class="join_the_lab_text">The project is based on open source code, with custom code hosted in the BCGov GitHub organization repositories.</p>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <img class="icon" src="img/Icons/Team.svg"><span class="join_lab_title">Dedicated Agile Teams</span>
                  <p class="join_the_lab_text">The project will be supported by a team that follows an agile methodology, with explicit roles such as DevOps specialist, Scrum Master and Product Owner — ideally with one or more of these roles filled by dedicated staff.</p>
                </div>
                <div class="col-6">
                  <img class="icon" src="img/Icons/Collaboration.svg"><span class="join_lab_title">Collaboration</span>
                  <p class="join_the_lab_text">The team has a commitment to participate in and contribute to the BC Government open development community.</p>
                </div>
              </div>
                </div>
            </div>
            </div>
        </div>
    </div>
  <!-- section3 end -->
  
  
  
  <!-- section4 Start 'How to join' -->
    <div class="teaser-img-right dark_bg">
        <div class="container">
            <div class="row">
                <div class="col-md mr-md-5 mb-5 mb-md-0 align-self-center">
                    <div class="teaser">
                      <h2 class="heading2">How to join the Platform?</h2>
                      <p class="para1">If you meet the above criteria,
                        we’d love to hear from you! It all starts with a project 
                        provisioning request.</p>
                      <a href="#" class="blue_btn">Learn More</a>
                    </div>
                </div>
                <div class="col-md">
                  <img class="sec_image" src="img/dev_ops_platform_photos/join_the_platform.jpeg" alt="image">
                </div>
            </div>
        </div>
    </div>
  <!-- section4 end -->
  
  
  
  <!-- section5 start DevHub-->
  <div class="section_main light_bg set-height">
    <div class=dev_hub_block>
      <h2 class="heading2">DevHub</h2>
      <p class="para1">
        We also maintain an application meant to organize and unify many of 
        the resources needed by developers to build government applications.
      </p>
      <a href="https://developer.gov.bc.ca/?intention=LOGIN#error=login_required" class="blue_btn">Visit DevHub</a>
    </div>
  </div>
  <!-- section5 end -->



</div>