<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="~/css/style.css"> 
    </head>
    <body>
        <div class="error-container">
            <div class="notfound">
                <h1>OOPS!!!</h1>
                @if (@Model >= 400 && @Model < 500)
                {
                    <h2>There is Something Wrong With the Request!!</h2>
                }
                else if (@Model >= 500 && @Model < 600)
                {
                    <h2>There is Something Wrong With Us</h2>
                    <h2>Please try again Later!!</h2>
                }
                else
                {
                    <h2>Something Went Wrong!!</h2>
                    <h2>Please try again Later!!</h2>
                }
                <a href="/" class="btn-blue">HomePage</a>
            </div>
        </div>
    </body>
</html>
