<!DOCTYPE html>
<html>
<head>
    <title>Error</title>
</head>
<body>
    <div id="notfound">
        <div class="notfound" style="position: relative;height: 100vh;background: #030005;">
            <div class="notfound-404" style="position: absolute;left: 50%;top: 50%;-webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);transform: translate(-50%, -50%);">
                <h1 style="color:white; text-align:center;">OOPS</h1>
                <h2 style="color:white">Something Went Wrong!!!</h2>
                <a style="display: inline-block;text-transform: uppercase;color: #ff005a;text-decoration: none;border: 2px solid;
                background: transparent;padding: 10px 80px;font-size: 14px;font-weight: 700;-webkit-transition: 0.2s all;"href="/">Homepage</a>
            </div>
        </div>
    </div>
</body> 
</html>