@{
ViewData["Title"] = "ExchangeLab";
Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="landing">
    <!-- header-banner start -->
    <div class="banner_area">
        <div class="banner_inner">
            <div class="single_banner">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="banner_text ">
                                <h1> Accelerate your digital delivery team with a residency at the Exchange Lab </h1>
                                <p>
                                    We, at BCDevExchange, are helping Ministries of BC Government, Canada <br>
                                    learn new ways of working and implement digital solution faster.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- header-banner end -->
    <!-- section2 start -->
    <div class="section_main light_bg set-height">
        <div class="section_inner">
            <div class="conteiner">
                <div class="row">
                    <div class="col-xl-6 col-md-6">
                        <div class="outer">
                            <div class="middle">
                                <div class="inner inner2">
                                    <h2 class="heading2">Still developing and deploying applications the traditional
                                        way?</h2>
                                    <br>
                                    <p class="para1">With the DevOps Platform, we are helping develop <br>and deploy
                                        applications faster in Gov</p>
                                    <br>
                                    <h2 class="number">100+</h2>
                                    <p class="para1">applications on the BC Gov <br>DevOps platform</p>
                                    <br>
                                    <a href="#" class="blue_btn">Learn More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-6">
                        <img class="sec_image" src="img/home_img/001.jpg" alt="image">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- section2 end -->
    <!-- section3 start -->
    <div class="section_main dark_bg set-height">
        <div class="section_inner">
            <div class="conteiner">
                <div class="row">
                    <div class="col-xl-6 col-md-6">
                        <img class="sec_image" src="img/home_img/002.jpg" alt="image">
                    </div>
                    <div class="col-xl-6 col-md-6">
                        <div class="outer">
                            <div class="middle">
                                <div class="inner inner3">
                                    <h2 class="heading2">Trying to be Agile but still not sure how?</h2>
                                    <p class="para1">With the Lab Residency at the Exchange Lab, we help <br>teams
                                        accelerate their Agile Journey</p>
                                    <br>
                                    <h2 class="number">10+</h2>
                                    <p class="para1">teams from diffrent BC Gov Ministries <br>have geaduated from thr
                                        Exchange Lab</p>
                                    <br>
                                    <a href="#" class="blue_btn">Learn More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- section3 end -->
    <!-- section4 start -->
    <div class="section_main light_bg set-height">
        <div class="section_inner">
            <div class="conteiner">
                <div class="row">
                    <div class="col-xl-6 col-md-6">
                        <div class="outer">
                            <div class="middle">
                                <div class="inner inner2 inner4">
                                    <h2 class="heading2">Having a hard time building your <br>teams' competencies in
                                        Gov?</h2>
                                    <p class="para1">We are making learning easier and fun with trainings in <br>Agile,
                                        Scrum, DevOps.</p>
                                    <br>
                                    <h2 class="number">1400+</h2>
                                    <p class="para1">People from across BC Gov Ministries <br>have been trained</p>
                                    <br>
                                    <a href="#" class="blue_btn">Explore the trainings</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-6">
                        <img class="sec_image" src="img/home_img/003.jpg" alt="image">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- section4 end -->
    <!-- section5 start -->
    <div class="section_main dark_bg">
        <div class="section_inner">
            <div class="conteiner">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="heading2">Be a part of the community</h2>
                        <br>
                        <br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-6 col-md-6">
                        <p class="icons"><span><i class="fa fa-envelope" aria-hidden="true"></i></span></p>
                        <p class="para1">Subscribe to our newsletter to stay up-to-date on <br>what's happening at the
                            Lab</p>
                        <br>
                        <a href="https://us3.list-manage.com/subscribe?u=2cd8863adab4f39ade7cbee34&id=b331c22b50"
                            class="blue_btn">Subscribe</a>
                    </div>
                    <div class="col-xl-6 col-md-6 mob-space-top">
                        <p class="icons"><span><i class="fa fa-comments" aria-hidden="true"></i></span></p>
                        <p class="para1">Join 1,000+ community members on our messaging <br>platform to connect, get
                            help, and add your voice.</p>
                        <br>
                        <a href="https://chat.pathfinder.gov.bc.ca/home" class="blue_btn">Login to RocketChat</a>
                        <span class="small_text">Have an IDIP or BC Gov GitHub <br>account?</span>
                        <br>
                        <br>
                        <span class="medium_text">Don't have an IDIR or BC Gov GitHub account? <br>Send us an email
                            at</span>
                        <a href="#" class="link">BCDevExchange@gov.bc.ca</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- section5 end -->
</div>