@{
ViewData["Title"] = "ExchangeLab";
Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Microsoft.AspNetCore.Html
@addTagHelper *, bcdevexchange

<div class="landing">
    <!-- header-banner start -->
    <div class="banner_area">
        <div class="banner_inner">
            <div class="single_banner">
                <div class="container">
                    <div class="row">
                        <div class="exchange_lab_col">
                            <div class="exchange_lab_banner_text">
                                <h1> Accelerate your digital delivery team with a residency at the Exchange Lab </h1>
                                <p>
                                    The Exchange Lab is a collaborative work space where we host digital delivery teams
                                    from across the B.C. Public Service.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="exchange-lab-content-container">

        <h1>What happens at the Lab?</h1>

        <vc:text-with-side-image 
            text-on-left=false
            title="" 
            sub-title="Teams in residence are trained in Agile mindset and methods, 
                and supported to use modern DevOps processes and technology."
            image-file-path="exchange_lab_photos/001.jpg"
            button-url=""> </vc:text-with-side-image>
        <vc:text-with-side-image 
            text-on-left=true
            title="" 
            sub-title="Openly sharing their progress and struggles on a regular
             basis, teams help each other improve their practices and solve problems."
            image-file-path="exchange_lab_photos/004.jpg"
            button-url=""> </vc:text-with-side-image>
        <vc:text-with-side-image 
            text-on-left=false
            title="" 
            sub-title="Incrementally delivering a digital product and testing it with 
              end users every few weeks, teams release a minimum viable product within
              a year."
            image-file-path="exchange_lab_photos/002.jpg"
            button-url=""> </vc:text-with-side-image>
        <vc:text-with-side-image 
            text-on-left=true
            title="" 
            sub-title="Upon graduation from the Lab, teams return to their home 
              organization where they continue improving their product and spawn 
              new digital delivery teams through modeling and mentorship."
            image-file-path="exchange_lab_photos/003.jpg"
            button-url=""> </vc:text-with-side-image>
    </div>


    <!-- section3 end -->
    <!-- section4 start -->
    <div class="exchange-lab-content-container-bg">

        <div class="section_main light_bg set-height">
            <h1 class='exchange-lab'>Timeline</h1>
            <h3 class='exchange-lab'>
                Not every journey is the same, but given what we have seen
                to be possible when the right conditions are in place, here
                is want you can expect from a digital delivery team in the lab.
            </h3>
            <div class="row">
                <div class="section_inner">
                    <div class="container">
                        <div class="timeline">
                            <div class="timeline-container right">
                                <div class="timeline-content">
                                    <h2>By Q1</h2>
                                    <li>Program areas build a team and align their organization to support Agile
                                        delivery</li>
                                    <li>Teams clarify the problem they are trying to solve</li>
                                    <li>Tems build a prototype and engage directly with users to learn what is most
                                        important to them</li>
                                </div>
                            </div>
                            <div class="timeline-container left">
                                <div class="timeline-content">
                                    <h2>By Q2</h2>
                                    <p>Teams release a real digital product (considered an alpha product)
                                        to users and build trust in their organization that they are making
                                        solid progress. They can communicate their “velocity” and have high
                                        trust and productivity.</p>
                                    <p>Within six months, teams refine the product by getting feedback directly
                                        from users. They start coaching other teams and offering solutions back
                                        to the community.</p>
                                </div>
                            </div>
                            <div class="timeline-container right">
                                <div class="timeline-content">
                                    <h2>By Q3</h2>
                                    <p>Teams are ready to release a beta product to the public. They have solid
                                        infrastructure
                                        and technical excellence so that they can quickly respond to changing
                                        requirements or
                                        unexpected issues. Vendor team mates coach new public service talent that will
                                        remain
                                        in the team.</p>
                                </div>
                            </div>
                        </div>
                        @* The final element of the timeline is outside the
                        timeline-container for responsive styling *@
                        <div class="timeline-container left">
                            <div class="timeline-content">
                                <h2>By Q4</h2>
                                <p>Teams are ready to graduate. The product is ready for a live status and ongoing
                                    improvements
                                    in a stable production environment. The home organization is capable of supporting
                                    the ongoing
                                    productivity of the team, with new problems to solve.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="exchange-lab-content-container">
        <h1>While in residence at the Exchange Lab, your team will benefit from:</h1>


        <vc:text-with-side-image 
            text-on-left=false
            title="A Place to Call Home" 
            sub-title="Insulated from the status quo operations of your home 
              organization, your team will have a dedicated room where they 
              can focus and sprint towards their goal."
            image-file-path="exchange_lab_photos/001.jpg"
            button-url=""> </vc:text-with-side-image>
        <vc:text-with-side-image 
            text-on-left=true
            title="Training & Coaching" 
            sub-title="We will facilitate formal training for your team, help
              them make connections with other community members, and help 
              bring your organization along for the journey."
            image-file-path="exchange_lab_photos/004.jpg"
            button-url=""> </vc:text-with-side-image>
        <vc:text-with-side-image 
            text-on-left=false
            title="Experts on Tap" 
            sub-title="Your team will have access to experts who can offer guidance
              in Service Design, Privacy and Security, Behavioural Insights, 
              Integrated Data, and Social Media."
            image-file-path="exchange_lab_photos/002.jpg"
            button-url=""> </vc:text-with-side-image>
        <vc:text-with-side-image 
            text-on-left=true
            title="Platform Services" 
            sub-title="Your team will get access to and support to use a suite of DevOps 
              tools, including a hybrid-cloud container platform, so they can fully 
              control the development and deployment of their product."
            image-file-path="exchange_lab_photos/003.jpg"
            button-url=""> </vc:text-with-side-image>
        <vc:text-with-side-image 
            text-on-left=false
            title="Platform Services"  
            sub-title="Surrounded by other teams who are striving to improve their 
              practices and products, your team will be encouraged and supported 
              as they learn."
            image-file-path="exchange_lab_photos/002.jpg"
            button-url=""> </vc:text-with-side-image>
    </div>

    <div class="exchange-lab-content-container-bg">
        <h1 class='exchange-lab'>How do we get into the Lab?</h1>
        <h3 class='exchange-lab'>
            If you’re interested in sponsoring a team at the Lab, please email us at:
        </h3>
        <h3 class='exchange-lab'>
            <a href="mailto:ExchangeLab@gov.bc.ca">ExchangeLab@gov.bc.ca</a>
        </h3>
    </div>

</div>