@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container home-image">
    <div class="home-tagline">
        <div class="home-tagline-text">
            <p>Struggling to do Agile/DevOps in BC Gov?</p>
        </div>
        <div class="home-tagline-subtext">
            <p>
                We, at BCDevExchange, are helping Ministries of BC Government, Canada
                learn new ways of working and implement digital solutions faster.
            </p>
        </div>
    </div>
</div>
<div class="container grid-cont1">
    @*<div class="row grid-row">
            <div class="col-md-6 col-text">
                <span class="bold-text">Still developing and deploying applications the traditional way?</span>
                <span class="home-tagline-subtext">With the DevOps Platform, we are helping develop and deploy applications faster in Gov</span>
                <span class="col1-subtext">
                    100+
                    <span class="home-tagline-subtext">applications on the BC Gov DevOps platform</span>
                </span>
            </div>
            <div class="col-md-6 col2-img">
            </div>
        </div>*@
</div>
<div class="container grid-cont2">
    <div class="row">
        <div class="col1 col-md-6">
            <p class="col-bold-text">Be a part of the community</p>
            <i class="fa fa-envelope-o" style="font-size:48px;color:white"></i>
            <span class="col-subtext">Subscribe to our newsletter to stay up-to- date on what’s happening at the Lab</span>
            <a href="https://us3.list-manage.com/subscribe?u=2cd8863adab4f39ade7cbee34&id=b331c22b50" class="btn btn-default subscribe-btn">Subscribe</a>
        </div>
        <div class="col-md-6">
            <i class="fab fa-rocketchat"></i>
            <span>Join 1,000+ community members on our messaging platform to connect, get help, and add your voice.</span>
            <button class="btn btn-default">Subscribe</button>
            <span>Have an IDIR or  BC Gov GitHub account?</span>
            <div class="">
                <span>Don’t have an IDIR or BC Gov GitHub account? Send us an email at</span>
                <a></a>
            </div>
        </div>
    </div>
</div>

https://us3.list-manage.com/subscribe?u=2cd8863adab4f39ade7cbee34&id=b331c22b50