@{
    ViewData["Title"] = "HomePage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="landing">
    <div class="container">
        <div class="alert alert-warning alert-digital-marketplace alert-dismissible fade show" role="alert">
            Looking for <strong>Code With Us</strong> and <strong>Sprint With Us</strong> opportunities? They've moved to the new <strong>Digital Marketplace</strong>.
            <a href="https://digital.gov.bc.ca/marketplace" target="_blank" class="btn btn-black">Visit site <i class="fa fa-external-link"></i></a>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>

    <!-- header-banner start -->
    <div class="hero home-hero">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8">
                    <div class="hero-text bg-overlay">We're a supportive community in British Columbia, Canada enabling the government to deliver better digital services.</div>
                </div>
            </div>
        </div>
    </div>
    <!-- header-banner end -->
    <!-- Exchange Lab teaser start / 'teaser-img-left' -->
    <div class="teaser-img-left bg-secondary">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="teaser-name"><i class="fa fa-users"></i> Exchange Lab</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md mr-md-5 mb-5 mb-md-0">
                    <a href="ExchangeLab">
                        <img class="img-fluid img-clickable" src="img/home_img/exchange-lab-teaser.jpg" alt="Exchange Lab">
                    </a>
                </div>
                <div class="col-md align-self-start">
                    <div class="teaser">
                        <title>Want to create capability in your organization to deliver digital services?</title>
                        <subtitle>We help B.C. government organizations assemble digital delivery teams. At the Exchange Lab, we host teams in residence where we support them in a positive, collaborative environment.</subtitle>
                        <stat>14+</stat>
                        <stat-description>Digital delivery teams have got their start here</stat-description>
                        <a class="btn btn-blue" href="ExchangeLab">Learn More <i class="fa fa-chevron-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Exchange Lab teaser end -->
    
    <!-- DevOps Platform teaser start / "teaser-img-right" -->
    <div class="teaser-img-right bg-dark">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="teaser-name"><i class="fa fa-server"></i> Platform</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md mr-md-5 mb-5 mb-md-0 align-self-start">
                    <div class="teaser">
                        <title>Still deploying apps the hard way?</title>
                        <subtitle>Our DevOps platform enables digital delivery teams in the B.C. government to develop and deploy their applications quickly, securely, and at scale.</subtitle>
                        <stat>100+</stat>
                        <stat-description>Apps running on the platform</stat-description>
                        <a href="DevOpsPlatform" class="btn btn-blue">Learn More
                            <i class="fa fa-chevron-right"></i>
                        </a>
                    </div>
                </div>
                <div class="col-md">
                    <a href="DevOpsPlatform">
                        <img class="img-fluid img-clickable" src="img/home_img/devops-platform-teaser.jpg" alt="DevOps Platform">
                    </a>
                </div>
            </div>
            </div>
        </div>
    </div>
    <!-- DevOps Platform teaser end -->
    
    <!-- Learning teaser start -->
    <div class="teaser-img-left bg-secondary">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="teaser-name"><i class="fa fa-graduation-cap"></i> Learning</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md mr-md-5 mb-5 mb-md-0">
                    <a href="/learning">
                        <img class="img-fluid img-clickable" src="img/home_img/learning-teaser.jpg" alt="image">
                    </a>
                </div>
                <div class="col-md align-self-center">
                    <div class="teaser">
                        <title>Want to 'be more agile,' but not sure how?</title>
                        <subtitle>We can help you understand and adopt new approaches to teamwork and technology like Agile, Scrum, and DevOps. You might even have some fun while you're at it!</subtitle>
                        <stat>1,400+</stat>
                        <stat-description>People from across the B.C. government have taken part in training and learning events we've hosted</stat-description>

                        <a href="/learning" class="btn btn-blue">Explore Courses
                            <i class="fa fa-chevron-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Learning teaser end -->
    
    <!-- Community section start -->
    <div class="section_main bg-light text-dark" id="community">
        <div class="section_inner">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="teaser-name"><i class="fa fa-comments-o"></i> Community</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 offset-md-1 mr-md-4 mb-5 mb-md-0">
                        <h2 class="mb-4">Newsletter</h2>
                        <p class="mb-4">Stay up-to-date on events, learning opportunities, and what's happening at the Exchange Lab.</p>
                        <a class="btn btn-blue" href="https://us3.list-manage.com/subscribe?u=2cd8863adab4f39ade7cbee34&id=b331c22b50" target="_blank">Subscribe <i class="fa fa-envelope"></i></a>
                    </div>
                    <div class="col-md-4 offset-md-1">
                        <img src="img/Icons/Rocket.Chat_Logo.svg" class="rocket-chat mb-4">
                        <p class="mb-4">Join 1,000+ members on our community messaging platform. Connect, get help, and offer your knowledge.</p>
                        <div class="small_text text-muted">Already have an IDIR or a GitHub account associated to the bcgov org?</div>
                        <a href="https://chat.pathfinder.gov.bc.ca/home" class="btn btn-blue" target="_blank">Join RocketChat <i class="fa fa-external-link"></i></a>
                        <div class="small_text text-muted mt-5">Don't have an IDIR or bcgov-associated GitHub account? <span class="text-nowrap"><a href="mailto:BCDevExchange@gov.bc.ca">Request an invitation <i class="fa fa-envelope"></i></a></span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Community section end -->
    
    <!-- Podcast Teaser section start -->
    <div class="section_main bg-secondary" id="podcasts">
        <div class="container">
            <div class="row d-flex flex-row-reverse">
                <div class="col-md">
                    <img src="img/home_img/ari-podcasting.jpg" alt="Ari Hershberg, Community Practice Lead">
                </div>
                <div class="col-md-6 pr-md-5 align-self-center">
                    <h1 class="display-4 text-warning my-3">The Exchange Podcast <i class="fa fa-microphone"></i></h1>
                    <p class="lead text-light"><span class="font-weight-bold">Ari Hershberg</span> talks with members of the digital government community.</p>
                </div>
            </div>
            <div class="row pt-5 pb-4">
                <div class="col">
                    <div class="d-flex align-items-center justify-content-between">
                        <h4 class="mb-0">Recent Episodes</h4>
                        <a href="https://bcdevexchange.libsyn.com" target="_blank"> View all <i class="fa fa-chevron-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="card-group">
                        <!-- Episode 10 / Alex MacLennan -->
                        <div class="card card-podcast mr-sm-3">
                            <a href="https://bcdevexchange.libsyn.com/-digital-workplace-what-does-it-mean" target="_blank">
                                <img class="card-img-top img-clickable" src="img/home_img/podcast-teasers/alex.jpg" alt="">
                            </a>
                            <div class="card-body">
                                <div class="episode-date">Episode 10 &bull; September 20, 2021</div>
                                <h5 class="card-title">Digital Workplace. What does it mean?</h5>
                                <p class="card-subtitle">In this Exchange podcast, Alex MacLennan, Assistant Deputy Minister, Enterprise Service Division continues the conversation from the #DigitalBC Livestream with CJ Ritchie on Digital Workplace. What does it mean? Some of the questions we discuss include what do you believe will be different in the workplace of the future, suggestions for how to support those who are struggling to transition to this new world, accountability and trust in the workplace and more.</p>
                            </div>
                            <div class="card-footer">
                                <a href="https://bcdevexchange.libsyn.com/-digital-workplace-what-does-it-mean" target="_blank" class="btn btn-blue">Listen on Libsyn <i class="fa fa-lg fa-play-circle-o"></i> </a>
                            </div>
                        </div>
                        <!-- Episode 9 / CJ Ritchie -->
                        <div class="card card-podcast mr-sm-3">
                            <a href="https://bcdevexchange.libsyn.com/women-leaders-in-tech" target="_blank">
                                <img class="card-img-top img-clickable" src="img/home_img/podcast-teasers/cj.jpg" alt="">
                            </a>
                            <div class="card-body">
                                <div class="episode-date">Episode 9 &bull; September 15, 2021</div>
                                <h5 class="card-title">Women Leaders in Tech</h5>
                                <p class="card-subtitle">CJ Ritchie, Associate Deputy Minister and Government Chief Information Officer shares thoughts on her path to getting into Digital Government, key traits to be an effective leader and more on Women Leaders in tech.</p>
                            </div>
                            <div class="card-footer">
                                <a href="https://bcdevexchange.libsyn.com/women-leaders-in-tech" target="_blank" class="btn btn-blue">Listen on Libsyn <i class="fa fa-lg fa-play-circle-o"></i> </a>
                            </div>
                        </div>
                        <!-- Episode 8 / David Hume & Ricardo Wagner -->
                        <div class="card card-podcast">
                            <a href="https://bcdevexchange.libsyn.com/accessibility-a-conversation-with-david-hume-and-ricardo-wagner" target="_blank" alt="Go to podcast episode page">
                                <img class="card-img-top img-clickable" src="img/home_img/podcast-teasers/hume-wagner.png" alt="">
                            </a>
                            <div class="card-body">
                                <div class="episode-date">Episode 8 &bull; July 5, 2021</div>
                                <h5 class="card-title">Accessibility: A Conversation with David Hume and Ricardo Wagner</h5>
                                <p class="card-subtitle">Join David Hume (Assistant Deputy Minister, Government Digital Experience), Ricardo Wagner (Accessibility Lead, Microsoft) and Ari Hershberg (Community of Practice Lead, Exchange Lab) as they discuss what it means to be accessible. They tackle topics like working with legacy tools and technologies, connectivity and cultural accountability. They also share how to cultivate a more accessible and inclusive approach and the tools you need to get started.</p>
                            </div>
                            <div class="card-footer">
                                <a href="https://bcdevexchange.libsyn.com/accessibility-a-conversation-with-david-hume-and-ricardo-wagner" target="_blank" class="btn btn-blue">Listen on Libsyn <i class="fa fa-lg fa-play-circle-o"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
            <div class="row pt-5 pb-3">
                <div class="col">
                    <h4>How to Subscribe</h4>
                </div>
            </div>
            <div class="row text-white-50">
                <div class="col-sm pr-sm-5">
                    <div class="d-flex align-items-center mb-3">
                        <div><img class="podcast-icon" src="img/Icons/Podcasts_(iOS).svg"></div>
                        <h5 class="mb-0 ml-3">iOS</h5>
                    </div>
                    <p>Open the Podcasts app on your phone:</p>
                    <ul>
                        <li>Tap the LIBRARY button at the bottom of your app</li>
                        <li>Choose the option ADD A PODCAST BY URL and enter the RSS link: <span class="text-blue">https://bcdevexchange.libsyn.com/rss</span>
                        <li>Tap SUBSCRIBE</li>
                        <li>Tap the DONE button at the top right</li>
                        <li>Tap on The Exchange Podcast logo to access the episodes</li>
                    </ul>
                </div>
                <div class="col-sm pl-sm-5">
                    <div class="d-flex align-items-center mb-3">
                        <img class="podcast-icon" src="img/Icons/Google_Podcasts_icon.svg">
                        <h5 class="mb-0 ml-3">Android</h5>
                    </div>
                    <p>Visit the Google Play Store to find a podcast player that suits you. These steps should be similar in all applications:</p>
                    <ul>
                        <li>Tap on the + sign at the top right of the screen</li>
                        <li>Select "Add an RSS Feed"</li>
                        <li>Enter the RSS link: <span class="text-blue">https://bcdevexchange.libsyn.com/rss</span>
                        <li>Tap "Add"</li>
                    </ul>
                </div>
            </div>
            <hr>
            <div class="row text-white-50">
                <div class="col-sm-10 col-md-6 m-auto">
                    <p>If using another podcast application, subscribe by visiting <a href="https://bcdevexchange.libsyn.com/" target="_blank">https://bcdevexchange.libsyn.com/</a> and clicking the RSS icon, or entering the RSS link: <span class="text-blue">https://bcdevexchange.libsyn.com/rss</span>
                </div>
            </div>
        </div>
    </div>
    <!-- Podcast Teaser section end -->
</div>
<div class="banner">
    <div class="container text-center">
        We're part of government's digital transformation. Learn more at <a href="http://digital.gov.bc.ca" target="_blank
            ">Digital.gov.bc.ca <i class="fa fa-external-link"></i></a>
    </div>
</div>